
.App {
    --header_height: 60px;

}

.hw {


}

.hwTitle {
    margin-top: 107px;
    padding-left: 70px;
    border-bottom: 1px solid #D9D9D9;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}