.greetingForm {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.error {
    color: #D1D1D1;
}

input {
    height: 35px;
    width: 370px;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 10px;
}

.input {
    border-color: rgba(0,0,0,.5);
}

.input:focus {
}

.errorInput {
    border-color: red;
}

.button {
    margin-left: 5px;

    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    border: transparent;
}

.button:focus {
    opacity:100%;
}

.button:active {
    opacity:100%;
}

.button:disabled {
    /*opacity: .5;*/
}

.text {
    color: rgba(0,0,0,.5);
    margin: 5px 0;
}

.greeting {
    margin: 5px 0;
}